.background-card{
  background-color: #3b3b40;
}
.text-color-cards{
  color: #7d7d92;
}

.card-valor{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-color{
  color: rgb(91, 202, 100);
}
.font-size{
  font-size: 16px;
}